@charset "UTF-8";
/*
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

    .                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
        .. |      ||               ||
         ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.0
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 112.5%/1.65 "ff-tisa-web-pro", serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444; }

small {
  font-size: 65%; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

.tera, .nameplate .circle h1 {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem; }

.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem; }

.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem; }

.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem; }

.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem; }

.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem; }

.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem; }

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem; }

.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem; }

p {
  margin: auto auto 1.5em; }

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

pre {
  white-space: pre; }

code {
  white-space: pre;
  font-family: monospace; }

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr:hover {
    cursor: help; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222; }

p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.lining dd + dd:before {
  content: ", "; }
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em; }
  .pull-quote:before, .pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
@font-face {
  font-family: Symbola;
  src: url("../fonts/Symbola.ttf"); }

html, body {
  height: 100%;
  font-family: "adelle-sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background-color: #eee; }
  @media print {
    html, body {
      height: 95%;
      background-color: white; }
      html a, body a {
        color: #444;
        text-decoration: none; } }

a {
  color: #a52f14; }

h2 {
  font-weight: 100;
  font-family: "adelle", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }
  h2 a {
    text-decoration: none; }
    h2 a:hover {
      text-decoration: underline; }

.nameplate {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25%;
  height: 100%;
  float: left;
  background-color: #a52f14;
  color: #eee; }
  .nameplate a {
    color: #eee; }
  .nameplate .circle {
    height: 200px;
    width: 200px;
    position: relative;
    top: 20%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 100px; }
    .nameplate .circle a {
      text-decoration: none; }
    .nameplate .circle h1 {
      font-family: "Symbola";
      color: #222;
      line-height: 200px;
      text-align: center;
      position: relative;
      top: 10px;
      font-weight: normal;
      color: #a52f14; }
  .nameplate .name {
    color: #eee;
    position: relative;
    top: 25%;
    text-align: center; }
    .nameplate .name h2 {
      color: #eee; }
  .nameplate .contact {
    position: relative;
    top: 25%;
    text-align: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0; }
    .nameplate .contact li {
      display: inline-block; }
    .nameplate .contact li:first-child:after {
      content: " | "; }
  .nameplate .reference {
    position: relative;
    top: 25%;
    color: #eee;
    text-align: center; }
  @media print {
    .nameplate {
      background-color: black; }
      .nameplate .circle {
        width: 125px;
        height: 125px; }
      .nameplate h1 {
        top: -30px !important;
        color: black !important; }
      .nameplate .name h2 {
        font-size: 24px; }
      .nameplate p, .nameplate ul {
        font-size: 11px; }
      .nameplate .contact li {
        display: block; }
        .nameplate .contact li:first-child:after {
          content: ""; } }
  @media screen and (max-width: 1040px) {
    .nameplate .name h2 {
      font-size: 32px; }
    .nameplate .contact li {
      display: block; }
      .nameplate .contact li:first-child:after {
        content: ""; } }
  @media screen and (max-width: 800px) {
    .nameplate .circle {
      width: 125px;
      height: 125px; }
    .nameplate h1 {
      top: -30px !important; }
    .nameplate p, .nameplate ul {
      font-size: 14px; } }
  @media screen and (max-width: 650px) {
    .nameplate {
      clear: both;
      width: 100%;
      height: 60px;
      z-index: 100; }
      .nameplate .name {
        display: inline-block;
        top: 0%;
        width: 100%; }
        .nameplate .name h2 {
          margin-top: 10px !important;
          font-size: 24px;
          margin-bottom: 0px !important; }
      .nameplate .circle, .nameplate .contact, .nameplate .reference {
        display: none; } }

.list {
  width: 75%;
  margin-bottom: 20px;
  float: right; }
  .list .txt {
    padding-left: 30px; }
    .list .txt .info {
      padding: 20px 50px 0;
      max-width: 660px; }
  .list h2 {
    color: #a52f14; }
  .list .skills-list {
    list-style-type: none;
    margin-top: 0;
    padding: 0; }
  .list strong {
    color: #222; }
  @media print {
    .list .txt {
      padding-left: 0px; }
    .list .txt .info {
      padding: 5px 25px 0; }
    .list h2, .list h4, .list p {
      margin-bottom: .75em; }
    .list h2 {
      font-size: 20px;
      color: #222; }
    .list h4 {
      font-size: 15px; }
    .list p, .list ul {
      font-size: 12px;
      margin-bottom: .5em; }
    .list .extra {
      display: none; } }
  @media screen and (max-width: 650px) {
    .list {
      width: 100%;
      position: relative;
      clear: both;
      top: 80px; }
      .list .txt {
        padding-left: 15px; }
      .list .txt .info {
        padding: 5px 15px 0; }
      .list h2 {
        font-size: 24px; }
      .list h4 {
        font-size: 18px; }
      .list p, .list ul {
        font-size: 14px; } }
